<% provide(:title, "Contact") %>

<!-- pareil que provide mais opti pour streaming -->
<% content_for(:map_script) do %>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript" src="js/map.js"></script>
<% end -%>

	<section class="main clearfix" id="map">
	</section><!-- end main/map -->
	
