<header>
		<div class="logo">
			<%= link_to (root_path) do %>
			<img src="img/logo.png" title="Magnetic" alt="Magnetic"/>
			<% end -%>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<%= render 'layouts/partials/menu' %>
		<%= render 'layouts/partials/footer' %>
	</header><!-- end header -->