<nav>
	<ul>
		<li><%= link_to "Accueil", root_path %></li>
		<li><a href="#">About</a></li>
		<li><a href="#">The Team</a></li>
		<li><a href="#">Journal</a></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
</nav><!-- end navigation menu -->